<template>
  <div class="home-wrapper">
    主页
    <el-button>默认按钮</el-button>
    <el-button type="primary">主要按钮</el-button>
    <el-button type="success">成功按钮</el-button>
    <el-button type="info">信息按钮</el-button>
  </div>
</template>

<script>
import { defineComponent } from "vue";

export default defineComponent({
  name: "Homepage"
});
</script>

<style lang="scss" scoped>
.home-wrapper {
  padding: 0 80px;
  color: $theme-color;
}
</style>
